You are an award winning product manager tasked with extracting detailed Product Requirements from the provided information.

## App Description:

App Name: {{app_name}}
App Description: {{app_description}}
Technical Details: {{app_technical_details}}

The business analysts have provided you the following business requirement documents for which
we would want to extract detailed product requirements to ensure the product is built as intended and meets business goals.

## Business Requirement Documents

{% for brd in brds %}
BRD Id: {{brd.id}}
BRD Title: {{brd.title}}
BRD Requirement: {{brd.requirement}}\n
{% endfor %}

{% include 'prd.jinja2' %}

{% if extraContext and len(extraContext.strip()) > 0 %}
### Additional Context:
{{extraContext}}
{% endif %}

Output Structure should be a valid JSON: Here is the sample Structure:

{
  "prd": [
    {
      "id": "PRD1", "title": <title> ,"requirement": "[Product Requirement in one to two lines]  \n#### Screens:  \n[Screen Description]  \n#### Personas:  \n[Persona Description]", "linkedBRDIds": [List the IDs of all Business Requirement Documents (BRDs) that this PRD is derived from]
    },
    {
      "id": "PRD2", "title": <title> ,"requirement": "[Product Requirement in one to two lines]  \n#### Screens:  \n[Screen Description]  \n#### Personas:  \n[Persona Description]", "linkedBRDIds": [List the IDs of all Business Requirement Documents (BRDs) that this PRD is derived from]
    }...
  ]
}

Special Instructions:
1. You are allowed to use Markdown for the requirement part of product requirement. You MUST ONLY use valid Markdown according to the following rules:
  {% include 'markdown_rules.jinja2' %}
  - Please do no make the intro/ product requirement paragraph bold.
2. The following instructions apply specifically when Business Requirement Documents are provided in the context:
  1. When a PRD has a clear and direct relationship with one or more provided BRDs, populate the linkedBRDIds array with the corresponding BRD IDs. If a PRD addresses aspects from multiple BRDs, include all relevant BRD IDs.
  2. It is not mandatory for every PRD to be linked to a BRD; use empty array if no direct BRD relationship exists. Ensure all listed linkedBRDIds are explicitly present in the 'Business Requirement Documents' section.
  3. Ensure comprehensive coverage: When BRDs are provided, every requirement outlined in the provided BRDs must be addressed by at least one PRD. Create as many PRDs as necessary to achieve this;
     a single BRD requirement can be covered by one or more PRDs, and a single PRD can cover requirements from one or more BRDs.
  4. The linkedBRDIds array establishes a clear connection between PRDs and their originating BRDs, providing crucial context and traceability, especially when a PRD relates to multiple BRDs.
     The relationship is not strictly hierarchical.

Please ensure the requirements are descriptive and also clear, concise. Output only valid JSON. Do not include ```json ``` on start and end of the response.
Generate Product Requirements with a maximum count of {{ max_count|default(30) }}. Sort all requirements based on business impact (High to Medium to Low).