<ngx-loading
  [show]="loading"
  [config]="{ backdropBorderRadius: '3px' }"
></ngx-loading>
<div class="w-full px-8">
  <div
    class="divide-y divide-secondary-200 overflow-hidden rounded-lg bg-white shadow"
  >
    <div class="px-4 py-5">
      <h1
        class="text-xl font-medium leading-tight tracking-tight text-secondary-900"
      >
        Create Solution
      </h1>
    </div>
    <div class="px-4 py-5 sm:p-6 edit-container-height">
      <form [formGroup]="solutionForm">
        <div class="space-y-12 sm:space-y-16">
          <div>
            <h2 class="text-sm font-medium leading-7 text-secondary-900">
              Solution Information
            </h2>
            <p class="mt-1 max-w-2xl text-xs leading-6 text-secondary-600">
              Give little bit information about the app which you are planning
              to build
            </p>

            <div
              class="mt-4 space-y-8 border-b border-secondary-900/10 pb-12 sm:space-y-0 sm:divide-y sm:divide-secondary-900/10 sm:border-t sm:pb-0"
            >
              <div
                class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6"
              >
                <label
                  class="block text-sm font-medium leading-6 text-secondary-900 sm:pt-1.5"
                  >Solution Name<span class="text-danger-500 text-xs">
                    *</span
                  ></label
                >

                <app-input-field
                  formControlName="name"
                  elementId="solution-name"
                  elementName="Solution Name"
                  elementPlaceHolder="Solution Name"
                  [showLabel]="false"
                  [required]="true"
                />
                <app-error-message [errorControl]="solutionForm.get('name')" />
              </div>

              <div
                class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6"
              >
                <label
                  class="block text-sm font-medium leading-6 text-secondary-900 sm:pt-1.5"
                  >Solution Description<span class="text-danger-500 text-xs">
                    *</span
                  ></label
                >
                <div class="mt-2 sm:col-span-2 sm:mt-0">
                  <app-textarea-field
                    formControlName="description"
                    elementId="solution-description"
                    elementName="Solution Description"
                    elementPlaceHolder="Solution Description"
                    [showLabel]="false"
                    [rows]="4"
                    [required]="true"
                  />
                  <app-error-message
                    [errorControl]="solutionForm.get('description')"
                  />
                  <p class="text-xs leading-6 text-secondary-600">
                    Write a few sentences about your idea
                  </p>
                </div>
              </div>

              <div
                class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6"
              >
                <label
                  class="block text-sm font-medium leading-6 text-secondary-900 sm:pt-1.5"
                  >Technical Details<span class="text-danger-500 text-xs">
                    *</span
                  ></label
                >
                <div class="mt-2 sm:col-span-2 sm:mt-0">
                  <app-textarea-field
                    formControlName="technicalDetails"
                    elementId="technical-details"
                    elementName="Technical Details"
                    elementPlaceHolder="Technical Details"
                    [showLabel]="false"
                    [rows]="4"
                    [required]="true"
                  />
                  <app-error-message
                    [errorControl]="solutionForm.get('technicalDetails')"
                  />
                  <p class="text-xs leading-6 text-secondary-600">
                    Write a few sentences about the technical stack of your
                    application
                  </p>
                </div>
              </div>

              <div
                class="sm:grid sm:grid-cols-3 sm:items-center sm:gap-4 sm:py-6"
              >
                <label
                  class="block text-sm font-medium leading-6 text-secondary-900"
                  >Is solution built already?<span
                    class="text-danger-500 text-xs"
                  >
                    *</span
                  ></label
                >
                <div class="col-span-2 flex items-center">
                  <div class="mt-1.5">
                    <app-toggle
                      [isActive]="solutionForm.get('cleanSolution')?.value"
                      (toggleChange)="
                        solutionForm.get('cleanSolution')?.setValue($event)
                      "
                      isPlainToggle="true"
                    ></app-toggle>
                  </div>
                  <p class="text-xs leading-6 text-secondary-600 ml-4">
                    {{ getSolutionToggleDescription() }}
                  </p>
                </div>
              </div>

              <div
                class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6"
                *ngIf="!solutionForm.get('cleanSolution')?.value"
              >
                <label
                  class="block text-sm font-medium leading-6 text-secondary-900"
                >
                  Business Requirements (BRD)<span
                    class="text-danger-500 text-xs"
                  >
                    *</span
                  >
                </label>
                <div class="col-span-2">
                  <div class="flex items-center">
                    <div class="mt-1.5">
                      <app-toggle
                        [isActive]="solutionForm.get('enableBRD')?.value"
                        (toggleChange)="
                          solutionForm.get('enableBRD')?.setValue($event)
                        "
                        isPlainToggle="true"
                      ></app-toggle>
                    </div>
                    <p class="text-xs leading-6 text-secondary-600 ml-4">
                      Enable to set maximum number of Business Requirements
                    </p>
                  </div>
                  <div
                    class="mt-4"
                    *ngIf="solutionForm.get('enableBRD')?.value"
                  >
                    <div class="border rounded-lg p-4">
                      <app-slider formControlName="brd"></app-slider>
                    </div>
                  </div>
                </div>
              </div>

              <div
                class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6"
                *ngIf="!solutionForm.get('cleanSolution')?.value"
              >
                <label
                  class="block text-sm font-medium leading-6 text-secondary-900"
                >
                  Product Requirements (PRD)<span
                    class="text-danger-500 text-xs"
                  >
                    *</span
                  >
                </label>
                <div class="col-span-2">
                  <div class="flex items-center">
                    <div class="mt-1.5">
                      <app-toggle
                        [isActive]="solutionForm.get('enablePRD')?.value"
                        (toggleChange)="
                          solutionForm.get('enablePRD')?.setValue($event)
                        "
                        isPlainToggle="true"
                      ></app-toggle>
                    </div>
                    <p class="text-xs leading-6 text-secondary-600 ml-4">
                      Enable to set maximum number of Product Requirements
                    </p>
                  </div>
                  <div
                    class="mt-4"
                    *ngIf="solutionForm.get('enablePRD')?.value"
                  >
                    <div class="border rounded-lg p-4">
                      <app-slider formControlName="prd"></app-slider>
                    </div>
                  </div>
                </div>
              </div>

              <div
                class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6"
                *ngIf="!solutionForm.get('cleanSolution')?.value"
              >
                <label
                  class="block text-sm font-medium leading-6 text-secondary-900"
                >
                  UI Requirements (UIR)<span class="text-danger-500 text-xs">
                    *</span
                  >
                </label>
                <div class="col-span-2">
                  <div class="flex items-center">
                    <div class="mt-1.5">
                      <app-toggle
                        [isActive]="solutionForm.get('enableUIR')?.value"
                        (toggleChange)="
                          solutionForm.get('enableUIR')?.setValue($event)
                        "
                        isPlainToggle="true"
                      ></app-toggle>
                    </div>
                    <p class="text-xs leading-6 text-secondary-600 ml-4">
                      Enable to set maximum number of UI Requirements
                    </p>
                  </div>
                  <div
                    class="mt-4"
                    *ngIf="solutionForm.get('enableUIR')?.value"
                  >
                    <div class="border rounded-lg p-4">
                      <app-slider formControlName="uir"></app-slider>
                    </div>
                  </div>
                </div>
              </div>

              <div
                class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6"
                *ngIf="!solutionForm.get('cleanSolution')?.value"
              >
                <label
                  class="block text-sm font-medium leading-6 text-secondary-900"
                >
                  Non-Functional Requirements (NFR)<span
                    class="text-danger-500 text-xs"
                  >
                    *</span
                  >
                </label>
                <div class="col-span-2">
                  <div class="flex items-center">
                    <div class="mt-1.5">
                      <app-toggle
                        [isActive]="solutionForm.get('enableNFR')?.value"
                        (toggleChange)="
                          solutionForm.get('enableNFR')?.setValue($event)
                        "
                        isPlainToggle="true"
                      ></app-toggle>
                    </div>
                    <p class="text-xs leading-6 text-secondary-600 ml-4">
                      Enable to set maximum number of Non-Functional
                      Requirements
                    </p>
                  </div>
                  <div
                    class="mt-4"
                    *ngIf="solutionForm.get('enableNFR')?.value"
                  >
                    <div class="border rounded-lg p-4">
                      <app-slider formControlName="nfr"></app-slider>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="mt-6 flex items-center justify-end gap-x-2">
          <app-button
            buttonContent="Cancel"
            [disabled]="loading"
            size="sm"
            theme="secondary"
            (click)="navigateToDashboard()"
          />
          <app-button
            buttonContent="Create Solution"
            [disabled]="loading || solutionForm.invalid"
            size="sm"
            (click)="createSolution()"
          />
        </div>
      </form>
    </div>
  </div>
</div>
