<div class="my-2">
  <label
    *ngIf="showLabel"
    [for]="elementId"
    class="block mb-2 text-sm font-medium text-secondary-500"
    >{{ elementName }}
    <span class="text-red-500 text-xs" *ngIf="required">*</span>
  </label>
  <textarea
    #textarea
    [id]="elementId"
    [rows]="rows"
    (input)="onChange($event.target)"
    class="block p-2.5 w-full text-sm text-gray-900 rounded-lg border border-gray-300 focus:outline-none focus:ring-blue-500 focus:border-blue-500 resize-none overflow-auto"
    [placeholder]="elementPlaceHolder"
    [value]="value"
  ></textarea>
</div>
