<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 h-full">
  <div
    [ngClass]="
      mode === 'add'
        ? 'grid grid-cols-1 gap-4'
        : 'grid grid-cols-1 lg:grid-cols-3 gap-4'
    "
  >
    <div
      [ngClass]="
        mode === 'add'
          ? 'bg-white shadow rounded-lg p-6 flex flex-col'
          : 'bg-white shadow rounded-lg p-6 flex flex-col lg:col-span-2'
      "
    >
      <div class="flex justify-between items-center">
        <div class="flex items-center space-x-1">
          <h1 class="text-normal font-semibold mb-4">
            {{ mode === "add" ? "Add User Story" : existingUserForm.id }}
          </h1>
        </div>

        <div
          *ngIf="mode === 'edit'"
          class="flex items-center space-x-1 text-3xl"
        >
          <div class="relative" style="display: inline-block; cursor: pointer">
            <app-button
              [isIconButton]="true"
              icon="heroTrash"
              theme="danger"
              size="sm"
              rounded="md"
              (click)="deleteUserStory()"
              matTooltip="Delete"
            ></app-button>
          </div>
        </div>
      </div>
      <form
        [formGroup]="userStoryForm"
        (ngSubmit)="mode === 'edit' ? updateUserStory() : addUserStory()"
      >
        <app-input-field
          [required]="true"
          elementPlaceHolder="Name"
          elementId="name"
          elementName="Name"
          formControlName="name"
        />
        <div
          *ngIf="
            userStoryForm.get('name')?.invalid &&
            (userStoryForm.get('name')?.dirty ||
              userStoryForm.get('name')?.touched)
          "
          class="text-red-500 text-sm mt-1"
        >
          <div *ngIf="userStoryForm.get('name')?.errors?.['required']">
            Name is required.
          </div>
        </div>
        <app-textarea-field
          [required]="true"
          elementPlaceHolder="Description"
          elementId="description"
          elementName="Description"
          formControlName="description"
        />
        <div
          *ngIf="
            userStoryForm.get('description')?.invalid &&
            (userStoryForm.get('description')?.dirty ||
              userStoryForm.get('description')?.touched)
          "
          class="text-red-500 text-sm mt-1"
        >
          <div *ngIf="userStoryForm.get('description')?.errors?.['required']">
            Description is required.
          </div>
        </div>
        <div class="flex items-center justify-between mt-4">
          <div class="flex-col">
            <div class="flex items-center">
              <app-button
                buttonContent="Enhance with AI"
                icon="heroSparklesSolid"
                theme="secondary"
                size="sm"
                rounded="lg"
                (click)="updateUserStoryWithAI()"
              ></app-button>
            </div>

            <app-multi-upload
              *ngIf="mode === 'add'"
              (fileContent)="handleFileContent($event)"
            ></app-multi-upload>
          </div>
          <div class="">
            <app-button
              buttonContent="Update"
              theme="primary"
              size="sm"
              rounded="md"
              *ngIf="mode === 'edit'"
              type="submit"
              [disabled]="userStoryForm.invalid"
            />
            <app-button
              buttonContent="Add"
              theme="primary"
              size="sm"
              rounded="md"
              *ngIf="mode === 'add'"
              type="submit"
              [disabled]="userStoryForm.invalid"
            />
          </div>
        </div>
      </form>
    </div>
    <div *ngIf="mode !== 'add'" class="space-y-4 h-full lg:col-span-1">
      <app-chat
        chatType="userstory"
        class="h-[inherit]"
        [name]="projectMetadata?.name"
        [description]="projectMetadata?.description"
        [baseContent]="description"
        [chatHistory]="chatHistory"
        [prd]="selectedPRD.requirement"
        (getContent)="updateContent($event)"
        (updateChatHistory)="updateChatHistory($event)"
      ></app-chat>
    </div>
  </div>
</div>
