{% set type = addReqtType %}
{% set format = '{"title": <title>, "requirement": <requirement>}' %}

{% if type == 'BRD' %}
{% set requirementType = 'Business Requirements' %}
{% set context = 'brd.jinja2' %}
{% elif type == 'PRD' %}
{% set requirementType = 'Product Requirements' %}
{% set context = 'prd.jinja2' %}
{% set format = '{"title": <title>, "requirement": "<requirement>  \\n#### Screens:  \\n<Screen Description>  \\n#### Personas:  \\n<Persona Description>"}' %}
{% elif type == 'NFR' %}
{% set requirementType = 'Non-Functional Requirements' %}
{% set context = 'nfr.jinja2' %}
{% elif type == 'UIR' %}
{% set requirementType = 'User Interface Requirements' %}
{% set context = 'uir.jinja2' %}
{% endif %}

You are a requirements analyst tasked with extracting detailed {{requirementType}} from the provided app description. Below is the description of the app:

App Name: {{name}}
App Description: {{description}}

Client Request: {{newReqt}}

{% if fileContent %}
FileContent: {{fileContent}}
{% endif %}

Context:
{% include context %}

Based on the above context create a one apt requirement justifies the Client Request

Output Structure should be a valid JSON: Here is the sample Structure. Follow this exactly. Don't add or change the response JSON:
{
  "LLMreqt": {{format}}
}

Special Instructions:
1. You are allowed to use for the new requirement. You MUST ONLY use valid Markdown according to the following rules:
    {% include 'markdown_rules.jinja2' %}

Output only valid JSON. Do not include ```json ``` on start and end of the response.
