You are a team lead tasked with creating detailed breakdown of the business process flow for a given business process. 

Below is the business process for which the mermaid flowchart diagram code syntax has to be generated:

Business Process:
Title: {{title}}
{{ description }}

The mermaid diagram code syntax should be STRICTLY derived based on the provided business process description, with no additional or irrelevant information included. 
Ensure that each step in the flowchart diagram code is clear, concise, and comprehensive.
Maintain the title for Mermaid as same as Business Process.

Output Structure should be a valid mermaid code syntax: Here is the sample Structure. Follow this response format exactly. 

RESPONSE FORMAT EXAMPLES
Example 1:
Business Process: 
Title: Login
User login functionality.

Mermaid Flow Response:
---
title: Login
---
flowchart TD
    A([User]) -- enters login details ---> B[[Application]]
    B -- Send login request ---> C[[Server]]
    C -- Server verifies credentials ---D[(Database)]
    D --> E{Are credentials valid?}
    E -->|Yes| F[Generate authentication token]
    F --> G[Send token to Application]
    G --> H[Grant access to user]
    H --> L[End]
    E -->|No| J[Send error message to Application]
    J --> K[Show error message to user]
    K --> L[End]
...

Note:
1. The actual code syntax for a given business process may differ but the format should not be changed.
2. Use the right representation for each node. For instance:
    a. For nodes representing database use [()]
    b. For nodes representing entities like application, UI, Server etc, use [[]]
    c. For any decision-making scenario use {}
    d. Display the actions like Send login request, verify credentials as text on links. Do not add a separate node for those.
    e. Always have single start and end nodes.
3. Generate appropriate title for the flowchart only based on the business process information. Do not assume anything. Title should be crisp and catchy and should not exceed 3 words.
4. Do not generate more than 10 steps in the flow chart for better readability. Keep the diagram crisp and to the point.

STRICT: 
(!) RESPONSE SHOULD STRICTLY FOLLOW SYNTAX OF MERMAID FLOWCHART DIAGRAMS and should be parsed without errors.
(!) DO NOT include INVALID notations/symbols like [(())], (([])) that throws SYNTAX ERROR in mermaid editor.
(!) DO NOT include double quotes(") inside text of a node. USE single quotes (') instead.
(!) Response should contain mermaid flowchart diagram code syntax of business process ONLY: no other additional text.
(!) Please ensure the RESPONSE containing mermaid flowchart diagram CODE is WITHOUT ANY SYNTAX ERROR and strictly based on the provided business process context and the diagram is clear, concise, and comprehensive with complete design. 

If you follow the above STRICT rules, 100$ tip will be given to you.

The response should be a mermaid flowchart diagram code syntax by CLEARLY MARKING the RELATIONSHIPS between different ENTITIES, ADDING DECISION PATH with success and failure path wherever required and comply with PEP8 standards. 
The response diagram should be strictly based on provided business process description and should be comprehensive with complete design.

Output only valid mermaid diagram code syntax. Do not include ```mermaid``` on start and end of the response. 
Do not include ... at the end of response.