<div class="mx-auto max-w-7xl px-4 h-full">
  <div
    [ngClass]="
      mode === 'add'
        ? 'grid grid-cols-1 gap-4'
        : 'grid grid-cols-1 lg:grid-cols-3 gap-4'
    "
  >
    <div
      [ngClass]="
        mode === 'add'
          ? 'bg-white border border-secondary-200 rounded-lg flex flex-col'
          : 'bg-white border border-secondary-200 rounded-lg flex flex-col lg:col-span-2'
      "
    >
      <header
        class="flex justify-between items-center p-4 border-b border-secondary-200"
      >
        <h1 class="text-normal font-semibold">
          {{
            mode === "edit"
              ? fileName.split("-")[0]
              : getDescription(folderName)
          }}
        </h1>
        <div *ngIf="mode === 'edit'">
          <app-button
            [isIconButton]="true"
            icon="heroTrash"
            theme="danger"
            size="sm"
            rounded="md"
            (click)="deleteFile()"
            matTooltip="Delete"
          ></app-button>
        </div>
      </header>

      <form
        [formGroup]="requirementForm"
        (ngSubmit)="mode === 'edit' ? updateRequirement() : addRequirement()"
      >
        <div class="p-4 flex flex-col gap-1.5">
          <div class="flex flex-col">
            <app-input-field [required]="true" elementPlaceHolder="Title" elementId="title" elementName="Title"
              formControlName="title" />
            <ng-container *ngIf="requirementForm.get('title')?.touched">
              <span *ngIf="requirementForm.get('title')?.errors?.['required']" class="text-red-500 text-sm">
                Title is required
              </span>
            </ng-container>
          </div>

          <div class="flex flex-col gap-1.5">
            <label for="elementId" class="block text-sm font-medium text-secondary-500">
              Description
              <span class="text-red-500 text-xs">*</span>
            </label>
            <div class="flex flex-col gap-1.5">
              <app-rich-text-editor formControlName="content" editorClass="h-80 overflow-y-auto"></app-rich-text-editor>
              <ng-container *ngIf="requirementForm.get('content')?.touched">
                <span *ngIf="requirementForm.get('content')?.errors?.['required']" class="text-red-500 text-sm">
                  Description is required
                </span>
              </ng-container>
            </div>
          </div>

          <app-multi-upload
            *ngIf="mode === 'add'"
            (fileContent)="handleFileContent($event)"
          ></app-multi-upload>
        </div>

        <div class="flex justify-end gap-2 p-4 border-t border-secondary-200">
          <app-button
            buttonContent="Enhance with AI"
            icon="heroSparklesSolid"
            theme="secondary_outline"
            size="sm"
            rounded="lg"
            (click)="enhanceRequirementWithAI()"
            [disabled]="requirementForm.invalid"
          ></app-button>
          <app-button
            buttonContent="Update"
            theme="primary"
            size="sm"
            rounded="md"
            *ngIf="mode === 'edit'"
            type="submit"
            [disabled]="requirementForm.invalid"
          />
          <app-button
            buttonContent="Add"
            theme="primary"
            size="sm"
            rounded="md"
            *ngIf="mode === 'add'"
            type="submit"
            [disabled]="requirementForm.invalid"
          />
        </div>
      </form>
    </div>
    <div *ngIf="mode !== 'add'" class="space-y-4 h-full lg:col-span-1">
      <app-chat
        chatType="requirement"
        class="h-[inherit]"
        [name]="name"
        [description]="description"
        [fileName]="fileName"
        [chatHistory]="chatHistory"
        [baseContent]="requirementForm.getRawValue().content"
        (getContent)="appendRequirement($event)"
        (updateChatHistory)="updateChatHistory($event)"
      ></app-chat>
    </div>
  </div>
</div>
