<div class="modal-wrapper w-[30rem] max-w-lg text-sm font-medium">
  <div class="modal-header flex items-center justify-between px-4 pt-4">
    <h4 class="font-medium text-base">Settings</h4>
    <button
      type="button"
      class="text-secondary-400 bg-transparent hover:bg-secondary-200 hover:text-secondary-900 rounded-lg p-1 ml-auto inline-flex items-center focus:outline-none focus:ring-0"
      data-dismiss="modal"
      aria-label="Close"
      (click)="closeModal()"
    >
      <ng-icon name="heroXMark" strokeWidth="2" size="16"></ng-icon>
    </button>
  </div>
  <div class="modal-body p-4 space-y-6">
    <!-- Error Message -->
    <div
      *ngIf="errorMessage && hasChanges"
      class="p-2 text-danger-600 font-medium bg-danger-50 rounded"
    >
      {{ errorMessage }}
    </div>

    <!-- Providers Dropdown -->
    <div class="space-y-1">
      <label for="providerSelect" class="block text-secondary-500"
        >Providers</label
      >
      <div class="relative w-full">
        <select
          id="providerSelect"
          [formControl]="selectedProvider"
          class="h-10 block w-full px-3 pr-10 border border-secondary-300 text-secondary-900 text-sm rounded-lg focus-visible:ring-1 focus-visible:ring-primary-500 focus-visible:border-primary-500 disabled:bg-secondary-100 focus-visible:outline-none appearance-none cursor-pointer"
        >
          <option
            *ngFor="let provider of availableProviders"
            [value]="provider.key"
            class="py-2"
          >
            {{ provider.displayName }}
          </option>
        </select>
        <div
          class="pointer-events-none absolute inset-y-0 right-0 flex items-center pr-3"
        >
          <svg
            class="h-4 w-4 text-secondary-400"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M19 9l-7 7-7-7"
            ></path>
          </svg>
        </div>
      </div>
    </div>

    <!-- Model Dropdown -->
    <div class="space-y-1">
      <label for="modelSelect" class="block text-secondary-500">Model</label>
      <div class="relative w-full">
        <select
          id="modelSelect"
          [formControl]="selectedModel"
          class="h-10 block w-full px-3 pr-10 border border-secondary-300 text-secondary-900 text-sm rounded-lg focus-visible:ring-1 focus-visible:ring-primary-500 focus-visible:border-primary-500 disabled:bg-secondary-100 focus-visible:outline-none appearance-none cursor-pointer"
        >
          <option
            *ngFor="let model of filteredModels"
            [value]="model"
            class="py-2"
          >
            {{ model }}
          </option>
        </select>
        <div
          class="pointer-events-none absolute inset-y-0 right-0 flex items-center pr-3"
        >
          <svg
            class="h-4 w-4 text-secondary-400"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M19 9l-7 7-7-7"
            ></path>
          </svg>
        </div>
      </div>
    </div>

    <!-- Destination Folder -->
    <div class="space-y-1">
      <label for="workingDir" class="block text-secondary-500">
        Folder to store the requirements generated by {{ appName }}
      </label>
      <div class="flex w-full">
        <input
          type="text"
          [value]="workingDir"
          placeholder="Choose Destination Folder"
          disabled
          id="workingDir"
          class="bg-secondary-100 border border-secondary-300 text-secondary-400 text-sm rounded-l-lg block w-full p-2"
        />
        <app-button
          [buttonContent]="'Browse'"
          [theme]="'primary'"
          [rounded]="'none'"
          [roundedRight]="'lg'"
          (click)="openFolderSelector()"
        ></app-button>
      </div>
    </div>

    <!-- Analytics Toggle -->
    <div class="space-y-1">
      <div class="flex items-center justify-between">
        <label for="analyticsToggle" class="block text-secondary-500">
          Enable Analytics Tracking
        </label>
        <label class="relative inline-flex items-center cursor-pointer">
          <input
            type="checkbox"
            id="analyticsToggle"
            [formControl]="analyticsEnabled"
            class="sr-only peer"
          />
          <div
            class="w-11 h-6 bg-secondary-200 peer-focus:outline-none peer-focus:ring-1 peer-focus:ring-primary-500 rounded-full peer peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-secondary-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all peer-checked:bg-primary-500"
          ></div>
        </label>
      </div>
      <p class="text-xs text-secondary-400">
        Help us improve by allowing anonymous usage data collection. This data
        helps us enhance your experience and prioritize features.
      </p>
      <p
        *ngIf="analyticsWarning"
        class="py-2 text-warning-600 rounded text-xs flex items-center"
      >
        <ng-icon name="heroExclamationTriangle" class="mr-1"></ng-icon>
        {{ analyticsWarning }}
      </p>
    </div>

    <!-- Save and Cancel Buttons -->
    <div
      *ngIf="hasChanges"
      class="flex justify-end gap-2 pb-4 border-b border-secondary-200"
    >
      <app-button
        buttonContent="Cancel"
        theme="secondary_outline"
        size="sm"
        (click)="closeModal()"
      />
      <app-button
        buttonContent="Save"
        theme="primary"
        size="sm"
        (click)="onSave()"
      />
    </div>

    <!-- Company Logo, Version and Logout -->
    <div
      class="divide-y-[0.5px] divide-secondary-300 font-medium rounded-lg overflow-hidden border-[0.5px] border-secondary-300 bg-secondary-50"
    >
      <div class="px-3.5 py-2 flex items-center justify-between w-full">
        <span class="text-secondary-500">Accelerate SDLC process with</span>
        <img
          *ngIf="themeConfiguration.companyLogoColor.length > 0"
          class="h-3 w-auto"
          [src]="themeConfiguration.companyLogoColor"
          [alt]="themeConfiguration.companyName"
        />
      </div>
      <div class="px-3.5 py-2 flex items-center justify-between w-full">
        <span class="text-secondary-500">Version</span>
        <span>{{ version }}</span>
      </div>
      <button
        class="px-3.5 py-2 text-danger-600 flex items-center justify-between w-full"
        role="button"
        tabindex="0"
        (click)="logout()"
        (keydown.enter)="logout()"
        (keydown.space)="logout(); $event.preventDefault()"
      >
        <span>Log Out</span>
        <svg
          width="20"
          height="21"
          viewBox="0 0 20 21"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M7.5 15.5L12.5 10.5L7.5 5.5"
            stroke="#64748B"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </button>
    </div>
  </div>
</div>
